/*                      KEY POSITIONS

  ╭─────────────────────────╮ ╭─────────────────────────╮
  │ LT5 LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 RT5 │
  │ LM5 LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 RM5 │
  │ LB5 LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 RB5 │
  ╰───────────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────────╯
              ╰─────────────╯ ╰─────────────╯ 

Note: The leader sequence must be pressed exactly as defined to be triggered.
To capitalize a letter, hold the shift key (or tap sticky-shift) *before*
tapping the leader key. */

/* German umlauts */

ZMK_LEADER_SEQUENCE(de_ae,      &kp KEY_AE,     LM4)  // ä
ZMK_LEADER_SEQUENCE(de_oe,      &kp KEY_OE,     RT3)  // ö
ZMK_LEADER_SEQUENCE(de_ue,      &kp KEY_UE,     RT1)  // ü
ZMK_LEADER_SEQUENCE(de_eszett,  &kp KEY_SZ,     LM3)  // ß
